html,body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

nav{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

h1{
    width: 400px;
    margin: 100px auto 40px;
    text-align: left;
    font-size: 2.5rem;
}

h3{
    padding: 5px;
    margin-top: 40px;
    text-align: center;
    font-size: 16px;
}

a{
    color: #000051;;
     text-decoration: none; 
}
a:hover{
    font-size: 18px;
    color: #0026ca;
}

nav a{
  text-align: center;
  font-size: 17px;
  margin: 40px 5px 0
}

input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
}
i{
    font-size: 16px;
    margin: 5px 0;
}

img{
    width: 250px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}

.container{
    display: flex;
    width: 100%;;
}
.brand-name{
    font-size: 1.2rem;
}

.left-container{
    width: 50%;
    padding: 10px;
    color: #000051;
}

.right-container{
    width: 50%;
    height:100vh;
    background-color: #0026ca;
    padding: 20px;
}

.left-container-searchbar{
    width: 310px;
    height: 40px;
    margin: auto;
}

.right-searchbar{
    border: 1 px solid#bcbcbc;
    margin-right: -4px;
}

.search-signup-nav{
    display: flex;
    justify-content: flex-end;
}

.signup-button{
    margin-top: 7px;
    margin-left: 25px;
    width: 110px;
    height: 35px;
  padding: 7px;
  background: #eeeeee;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
    h1{
        text-align: center;
    }
  .right-container{
    visibility: collapse;
    position: absolute;
  }
  .left-container{
      width: 720px;
  }
  .container{
      text-align: center;
      
  }
  html{
      height: 50vh;
  }
}
