body,html{
    text-align: center;
    margin: 0;
    color: #eeeeee;
}

*{
    box-sizing: border-box;
}

div h2{
    font-family: 'Open Sans', sans-serif; 
    margin: auto;
}

section{
    background-color: #263238;
    padding: 30px;
    line-height: 2;
}

p{
    margin: 5px 2px 15px;
    font-family: 'Merriweather', serif;
}

.container{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.container-top-bottom{
    background-image: url("https://images.unsplash.com/photo-1568627105594-589deb497ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    height: 700px;
    position: relative;
}

.container2{
    background-image: url("https://images.unsplash.com/photo-1562215174-60eccc38ae4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    height: 450px;
    position: relative;
}

.container3{
    background-image: url("https://images.unsplash.com/photo-1577840339509-f5dedc251180?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    height: 450px;
    position: relative;
}



.image-text{
    position: absolute;
    left: 38%;
    top: 50%;
    bottom: 50%;
    width: 280px;
    height: 70px;
    background-color: #263238;
    border-radius: 5px;
    padding: 15px;
}

@media screen and (max-width: 750px) {
    .container{
      background-attachment: scroll;
    }
    .image-text{
        left: 22%;
    }
}
