html, body{
    margin: 0;
    text-align: center;
    background-color: #00004f;
    color: #bbbebf;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

nav{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #edf0f2;
    padding: 20px;
}

header{
    padding: 10px;
}

h2,h3{
    font-family: 'Merriweather', serif;
}

h2{
    margin-top: 98px;/*edit to be responsive on mobile 60px;*/
    font-size: 1.9rem;
    font-weight: 900;
}

h3{
    text-align: center;
    font-size: 1.5rem;
}

img{
    width: 100%;
    height: 300px;
}

section{
    width: 100%;
}
#00004f #edf0f2
button{
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
    background-color: #edf0f2
}
button a{
    color: #00004f;
    padding: 20px;
    margin: 30px 0;
}
.more-info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.brand-name a{
    color: #18227c;
    font-weight: 900;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
}

.nav-link{
    padding: 0 30px; /*edit to be responsive on mobile*/
}

.nav-link a{
    margin: 0 15px; /*edit to be responsive on mobile*/
    color: #000051;
    font-size: 20px; /*edit to be responsive on mobile*/
}

.col{
    flex: 33%;
    width: 33%;
    text-align: justify;
    padding: 20px;
}

.top-fav-cont p{
    padding: 10px 10px 0;
    font-family: 'Karla', sans-serif;
}

.movies, .cartoon{
    background-color: #bbbebf;
    color: #00004f;
}

@media screen and (max-width: 900px) {
    .col{
        flex: 50%;
        width: 50%;
    }
}

@media screen and (max-width: 600px){
    .row{
        display: block;
    }
    .col{
        flex: 100%;
        width: 100%;
    }
}